body {
	font-family: Verdana;
	color: white;
	background-color: black;

}
h1 {
	font-weight: normal;
	font-size: 50px;
	text-align: center
}
h2 {
	font-weight: bold;
	font-size: 42px;
	text-align: center

}
p {
	color:grey;
	font-size: 21px;
	text-align: center
}
.download-link p {
	font-size: 16px;
	color: Aquamarine;
	text-align: center
}
.footer p {
	text-align: right;
}
.video {
	text-align: center;
}